@use '../../scss/breakpoints';
@use '../../scss/colors';

.header {
  background-color: colors.$contrast-bg;
  color: colors.$contrast-text;
  display: flex;
  height: 80px;
  justify-content: space-between;

  @include breakpoints.m-down {
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
  }

  .headerHomeLink {
    align-content: center;
    color: inherit;
    display: grid;
    font-size: 24px;
    height: 88px;
    justify-items: left;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;

    span {
      color: inherit;
      display: block;
    }
  }

  nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include breakpoints.m-down {
      flex-direction: column;
    }

    a {
      color: inherit;
      font-size: 16px;
      margin-right: 20px;
      padding: 10px 20px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: colors.$contrast-hover;
      }
      &:link {
        color: inherit;
      }
    }

    .activeLink {
      border-bottom: 1px solid colors.$contrast-text;
      color: colors.$main-link;
    }
    .nonactiveLink {
      border-bottom: 0;
    }

    .headerContactNonactive {
      border: 1px solid colors.$contrast-text;

      &:hover {
        background-color: colors.$main-bg;
        color: colors.$main-text;
      }

      @include breakpoints.m-down {
        border: 0;
      }
    }

    .headerContactActive {
      background-color: colors.$main-link;
      color: colors.$contrast-text;

      &:hover {
        color: colors.$main-text-soft;
      }

      @include breakpoints.m-down {
        background-color: colors.$contrast-bg;
        color: colors.$contrast-text !important;
        border-bottom: 1px solid colors.$contrast-text;
      }
    }
  }
}
