$contrast-bg: #1f1f1f;
$contrast-text: #fff;
$contrast-hover: #48abb0;
$table-border: #ccc;
$main-bg: #fff;
$main-text: #333;
$main-text-soft: #999;
$main-link: #56cbd1;
$main-link-hover: #48abb0;
$main-link-visited: #298287;
$main-link-text: #fff;
$error: #f00;
