@import '../scss/breakpoints';
@import '../scss/colors';

.resumeContainer {
  margin-top: 50px;

  .resumeTable {
    margin-bottom: 40px;

    .tableHeader {
      border-bottom: 1px solid $table-border;
      font-size: 20px;
      padding: 5px 0;
    }

    .row {
      border-bottom: 1px solid $table-border !important;
    }

    .column33,
    .column66 {
      font-size: 18px;
    }
  }
}
